<%= content_for :load_tweets do %>
	<%= javascript_tag do %>
		tweets = <%= raw @public_user.tweets.to_json %>
	<% end %>
<% end %>

<%= content_for :user_page do %>
<div class="overlay_map">
	<div class="content_realignment about_align">
		<div class="text_align">
		    <p>  Welcome to <%= @public_user.name %>'s public profile on Project Azimuth! <br/>
		      You can view <%= @public_user.name %>'s progress on the map displayed below and track their vessel across the sea. <br/> For more information, scroll down to see what Azimuth is about.
		    </p> 
		</div>
	</div>
</div>
<% end %>